body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-header, .navbar, .navbar-brand, .navbar-nav li a {
  background-color: #3ACCCC;
  color: #ffffff;
  line-height: 100%;
  height: 25%;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3ACCCC !important
}

.blah {
  color: #3ACCCC;
  fill: #3ACCCC;
}

.jumbotron {
  background-color: #3ACCCC;
  color: #ffffff;
  height: 50%;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#landing-image {
  opacity: 0.2;
}

#user-jumbo {
  background-color: #ffffff;
  color: #3ACCCC;
}

#login-button {
  color: #3ACCCC;
  margin-top: 10%;
  background-color: #d0eff2;
}


#faq-link {
  color: #3ACCCC;
}
